body {
  background: #e2e1e0;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: top;
  /* justify-content: center; */
  /* background: url("../img/austin-skyline.jpg") 0 / cover fixed; */
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  flex-direction: row;
}

.center-items {
  justify-content: center;
}

body > div > div > main > div > div.mdl-cell.mdl-cell--12-col.graybox {
  /* background-color: red; */
  /* margin: 0 auto; */
  overflow: scroll;
}

main.mdl-layout__content {
  justify-content: center;
}

@media only screen and (max-width: 640px) and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }

  .mdl-card-first {
    margin-top: 12em;
  }
}

.mdl-card {
  overflow: auto;
  margin: 1em auto;
  /* margin-bottom: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.75em; */
}

div.mdl-slider__container {
  width: 90%;
  margin: 0 auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.graybox {
  background-color: #fff;
}

.mdl-mini-footer {
  padding: 1em;
}

.demo-card-square.mdl-card {
  /* width: 33vh; */
  /* height: 33vh; */
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  /* background: url("assets/demos/dog.png") bottom right 15% no-repeat
      #46b6ac; */
  background: url("https://dummyimage.com/600x400/000/fff") bottom right 15%
    no-repeat #46b6ac;
  background-size: cover;
}
